<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmbs.ssm.mapper.ChargeRuleMapper">
    <insert id="addChargeRule" parameterType="com.cmbs.ssm.pojo.ChargeRule" >
        INSERT INTO tcharge_rule VALUES(#{funcId},#{funcName},#{chargeCode});
    </insert>
    <select id="queryChargeRule" parameterType="com.cmbs.ssm.pojo.ChargeRule"  resultType="com.cmbs.ssm.pojo.ChargeRule">
        SELECT Func_ID funcId,Func_Name funcName,Charge_Code chargeCode FROM tcharge_rule WHERE Func_ID=#{funcId} AND  Charge_Code=#{chargeCode};
    </select>

    <select id="queryByFuncId" parameterType="java.lang.String"  resultType="com.cmbs.ssm.pojo.ChargeRule">
        SELECT Func_ID funcId,Func_Name funcName,Charge_Code chargeCode FROM tcharge_rule WHERE Func_ID=#{funcId} ;
    </select>


</mapper>