<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmbs.ssm.mapper.MobileMapper">
    <select id="queryByIsAviable"  resultType="com.cmbs.ssm.pojo.Mobile">
        SELECT Mobile_Number mobileNumber,Mobile_Type mobileType,Card_Number cardNumber FROM tmobiles WHERE Is_Available='Y';
    </select>
    <insert id="addMobile" parameterType="com.cmbs.ssm.pojo.Mobile">
        INSERT INTO tmobiles VALUES(#{mobileNumber},#{mobileType},#{cardNumber},#{isAvailable});
    </insert>

    <update id="updateMobileNotAvai" parameterType="com.cmbs.ssm.pojo.Mobile">
        UPDATE tmobiles SET Is_Available='N' WHERE Mobile_Number=#{mobileNumber};
    </update>
</mapper>