<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmbs.ssm.mapper.OperatorMapper">
    <select id="queryOperatorById" parameterType="java.lang.String" resultType="com.cmbs.ssm.pojo.Operator">
        SELECT Operator_ID id,Operator_Name name,Operator_Pwd pwd,Is_Admin isAdmin FROM toperator WHERE Operator_ID=#{id};
    </select>

    <insert id="addOperator" parameterType="com.cmbs.ssm.pojo.Operator">
        INSERT INTO toperator VALUES(#{id},#{name},#{pwd},#{isAdmin});
    </insert>

    <select id="queryOperatorByPage" parameterType="com.cmbs.ssm.pojo.Page" resultType="com.cmbs.ssm.pojo.Operator">
        SELECT Operator_ID id,Operator_Name name,Operator_Pwd pwd,Is_Admin isAdmin FROM toperator LIMIT #{startLine},#{numPerPage};
    </select>

    <select id="queryCount" resultType="int">
        SELECT COUNT(1) FROM toperator;
    </select>

    <delete id="deleteOperatorById" parameterType="java.lang.String" >
        DELETE FROM toperator WHERE Operator_ID=#{id};
    </delete>

    <update id="updateOperator" parameterType="com.cmbs.ssm.pojo.Operator">
        UPDATE toperator SET Operator_Name=#{name},Operator_Pwd=#{pwd},Is_Admin=#{isAdmin} WHERE Operator_ID=#{id};
    </update>

    <update id="updateOperatorNoPwd" parameterType="com.cmbs.ssm.pojo.Operator">
        UPDATE toperator SET Operator_Name=#{name},Is_Admin=#{isAdmin} WHERE Operator_ID=#{id};
    </update>

    <select id="queryCountById" parameterType="com.cmbs.ssm.pojo.Operator" resultType="int">
        SELECT COUNT(1) FROM toperator WHERE Operator_ID=#{id};
    </select>

    <select id="queryCountByName" parameterType="com.cmbs.ssm.pojo.Operator" resultType="int">
        SELECT COUNT(1) FROM toperator WHERE Operator_Name=#{name};
    </select>

    <select id="queryCountByIdAndName" parameterType="com.cmbs.ssm.pojo.Operator" resultType="int">
        SELECT COUNT(1) FROM toperator WHERE Operator_ID=#{id} AND Operator_Name=#{name};
    </select>

    <select id="queryOperatorPageById" parameterType="com.cmbs.ssm.pojo.OperatorVo" resultType="com.cmbs.ssm.pojo.Operator">
        SELECT Operator_ID id,Operator_Name name,Operator_Pwd pwd,Is_Admin isAdmin FROM toperator WHERE Operator_ID=#{id} LIMIT #{startLine},#{numPerPage};
    </select>

    <select id="queryOperatorPageByName" parameterType="com.cmbs.ssm.pojo.OperatorVo" resultType="com.cmbs.ssm.pojo.Operator">
        SELECT Operator_ID id,Operator_Name name,Operator_Pwd pwd,Is_Admin isAdmin FROM toperator WHERE Operator_Name=#{name} LIMIT #{startLine},#{numPerPage};
    </select>

    <select id="queryOperatorPageByIdAndName" parameterType="com.cmbs.ssm.pojo.OperatorVo" resultType="com.cmbs.ssm.pojo.Operator">
        SELECT Operator_ID id,Operator_Name name,Operator_Pwd pwd,Is_Admin isAdmin FROM toperator WHERE Operator_ID=#{id} AND Operator_Name=#{name} LIMIT #{startLine},#{numPerPage};
    </select>

</mapper>